<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
</head>
<body>
<h1>Employee Registration</h1>

<form name="employee_registration" action="registration-done" method="post">
    <fieldset>
        <legend><h1>Registration Form</h1></legend>
    {% csrf_token %}
    First Name: <input type="text "  name="fname"><br><br>
    Last Name: <input type="text" name="lname"><br>
        {% for department in department_list %}
        <input type="radio" name="department"  value={{department.id}}>{{department.department_name}} <br>
        {% endfor %}
    <input type="submit" name="register">

    </fieldset>
</form>

</body>
</html>